### Updation methods into lists

In [5]:
a =[1,2,3,4]

In [6]:
a.insert(1,'Python') ## 1 is the index
a

[1, 'Python', 2, 3, 4]

In [7]:
a.append("Programming")
a

[1, 'Python', 2, 3, 4, 'Programming']

### Deletion

In [8]:
a = [1,2,3,4,5,6,7]
a.pop()

7

In [10]:
a.pop(2)

3

In [11]:
a = ["Toyota","Fortuner","3.0","4x2","AT"]
a.remove("AT")

In [12]:
print(a)

['Toyota', 'Fortuner', '3.0', '4x2']

In [13]:
# del deletes any memory address from the scope
del a[2]
del a

### Sorting & Reversing

In [14]:
a = [4,6,2,1,7,3]
sorted(a)

[1, 2, 3, 4, 6, 7]

In [15]:
a

[4, 6, 2, 1, 7, 3]

In [16]:
a.sort()

In [17]:
a

[1, 2, 3, 4, 6, 7]

In [19]:
for i in reversed(a):
    print(i)

7
6
4
3
2
1

In [20]:
a.reverse()
a

[7, 6, 4, 3, 2, 1]